#chart-parent{
  width:500px;
  height:500px;
}
#change-chart rect {
  fill: #4aaeea;
}

#change-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

body {
  background: #1a1a1a;
  color: #fffff;
  padding: 10px;
}
